@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, rgb(163, 88, 233),rgb(94, 234, 213));
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}